* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;

  animation: fadeIn 0.8s ease;
}

/* FOTO */
.profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;

  border: 3px solid white;

  animation: fadeInDown 0.8s ease;
}


h1 {
  margin-bottom: 5px;
  font-size: 24px;

  animation: fadeInDown 1s ease;
}


.subtitle {
  margin-bottom: 25px;
  opacity: 0.8;

  animation: fadeInDown 1.2s ease;
}

/* LINKS */
.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}


.link {
  color: white;
  text-decoration: none;
  padding: 14px;
  margin: 8px 0;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: 0.25s;

  animation: fadeInUp 0.6s ease;
}

/* INSTAGRAM */
.link.instagram {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
}

/* WHATSAPP */
.link.whatsapp {
  background: #25D366;
}


.link:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}


.link:active {
  transform: scale(0.96);
}


.icon {
  font-size: 22px;
  display: flex;
  align-items: center;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 400px) {

  .profile {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 20px;
  }

  .link {
    font-size: 15px;
    padding: 12px;
  }

}